<div class="footer">
  <div class="f-socials">
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-square-x-twitter"></i>
  </div>
  <div class="f-brand">&copy; HomeontheGo Pvt.Limited</div>
  <div class="f-links">
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms</a>
  </div>
</div>
